{% extends 'Layouts/userdefault.html.twig' %}
{% block title %}Crée un compte{% endblock %}
{% block main %}
    <div class="container mt-4 bg-light rounded p-2">
        {{ form_start(form) }}
        <div class="text-center">
            <h1>S'inscrire</h1>
            <div class="row justify-content-center">
                <div class="col-md-5">{{ form_row(form.firstName) }}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5">{{ form_row(form.lastName) }}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5">{{ form_row(form.email) }}</div>
            </div>
            <button class="btn btn-primary">Modifié</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
